<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%F:%L] - %m%n" />
		</layout>
	</appender>
	
	<appender name="Generic_File" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/wochat.log"/>
		<param name="Threshold" value="DEBUG"/>
		<param name="Append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%F:%L] - %m%n" />
		</layout>
	</appender>
	
	<appender name="Interactions_Log_File" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/interactions.log"/>
		<param name="Threshold" value="INFO"/>
		<param name="Append" value="false"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	
	<appender name="Messages_Log_File" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/messages.log"/>
		<param name="Threshold" value="INFO"/>
		<param name="Append" value="false"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	
	<appender name="Connections_Log_File" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/connections.log"/>
		<param name="Threshold" value="INFO"/>
		<param name="Append" value="false"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%F:%L] - %m%n" />
		</layout>
	</appender>
	
	<appender name="Users_Log_File" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/userslist.log"/>
		<param name="Threshold" value="INFO"/>
		<param name="Append" value="false"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d; %m%n" />
		</layout>
	</appender>
	
	<appender name="Answers_Log_File" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/answers.log"/>
		<param name="Threshold" value="INFO"/>
		<param name="Append" value="false"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	
	<logger name="it.uniroma1.dis.wsngroup.wochat.logging.LogInteraction" additivity="false">
		<level value="INFO" />
		<appender-ref ref="Interactions_Log_File" />
	</logger>
	
	<logger name="it.uniroma1.dis.wsngroup.wochat.logging.LogMessage" additivity="false">
		<level value="INFO" />
		<appender-ref ref="Messages_Log_File" />
	</logger>
	
	<logger name="it.uniroma1.dis.wsngroup.wochat.logging.LogConnection" additivity="false">
		<level value="INFO" />
		<appender-ref ref="Connections_Log_File" />
	</logger>
	
	<logger name="it.uniroma1.dis.wsngroup.wochat.logging.LogUsersList" additivity="false">
		<level value="INFO" />
		<appender-ref ref="Users_Log_File" />
	</logger>
	
	<logger name="it.uniroma1.dis.wsngroup.wochat.logging.LogAnswer" additivity="false">
		<level value="INFO" />
		<appender-ref ref="Answers_Log_File" />
	</logger>
	
	<root>
		<level value="DEBUG" />
		<appender-ref ref="Console" />
		<appender-ref ref="Generic_File" />
	</root>
</log4j:configuration>
