html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: arial, helvetica, sans-serif;
	font-size: 9pt;
	color: #333333;
}

#div-chat-log {
	width: 100%;
	max-height: 40px;
	text-align: center;
	margin: 0;
	background-color: #ffffff;
	overflow: auto;
}

#div-chatroom {
	position: relative;
	height: calc(100% - 70px); /* IE9+ and future browsers */
	height: -moz-calc(100% - 70px); /* Firefox */
	height: -webkit-calc(100% - 70px); /* Chrome, Safari */
	padding: 0;
	text-align: center;
	margin: 0;
	border-right: 2px solid #333333;
	background-color: #ffffff;
	overflow: auto;
}

#div-logo {
	position: relative;
	height: 50px;
	padding: 0;
	text-align: center;
	margin: 0;
	background-color: yellow;
	overflow: auto;
}

#div-messages {
	position: relative;
	margin: 0;
	padding: 0;	
	min-height: 200px;
	height: calc(100% - 100px); /* IE9+ and future browsers */
	height: -moz-calc(100% - 100px); /* Firefox */
	height: -webkit-calc(100% - 100px); /* Chrome, Safari */
	background-color: green;
	overflow: auto;
}

#div-sending {
	position: relative;
	margin: 0;
	padding: 0;	
	height: 100px;
	background-color: red;
}

#div-user-status {
	position: relative;
	width: 300px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	background-color: purple;
	float: right;
}

#div-users-list {
	position: relative;
	width: 200px;
	height: calc(100% - 70px); /* IE9+ and future browsers */
	height: -moz-calc(100% - 70px); /* Firefox */
	height: -webkit-calc(100% - 70px); /* Chrome, Safari */
	padding: 0;
	margin: 0;
	background-color: #dff6ff;
	overflow: auto;
	float: right;
}

#div-username-warning {
	display: none;
	position: fixed;
	max-width: 220px;
	font-weight: bold;
	color: red;
	top: 45px;
	left: 80%;
	right: 30px;
	padding: 4px;
	border: 2px solid #cccccc;
	background-color: #ffffff;
	z-index: 1;
	overflow: auto;
}

#user-input-box {
	width: 150px;
}

#user-submit-button {
	width: 70px;
}

header {
	height: 50px;
	text-align: left;
	padding: 0;
	margin: 0;
	background-color: #202020;
}

footer {
	height: 20px;
	text-align: left;
	padding: 0;
	margin: 0;
	background-color: #202020;
}

#p-send-username {
	color: #888888;
	font-size: 10pt;
	vertical-align: middle;
}

.div-chat-box {
	background-color: #999999;
}

.p-users-list {
	color: #333333;
	font-size: 11pt;
	vertical-align: middle;
	cursor: pointer;
	text-align: center;
	margin: 0;
	border-bottom: 1px solid #888888;
	padding: 3px;
	background-color: #dff6ff;
}

.p-users-list:hover {
	background-color: #beedff!important;
}

.p-info {
	color: black;
	margin-top: 4px;
	margin-bottom: 4px;
}

.p-success {
	font-weight: bold;
	color: blue;
	margin-top: 4px;
	margin-bottom: 4px;
}

.p-warning {
	font-weight: bold;
	color: red;
	margin-top: 4px;
	margin-bottom: 4px;
}
